.side-menu {
    width: 350px;
    height: 100%;
    background-color: #f0f0f0;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-menu.closed {
    transform: translateX(100%);
}

.toggle-button {
    margin-left: -50px;
    cursor: pointer;
}
